*{
  margin: 0;
  padding: 0;
}
body{
background-color: black;
}
/*========================VISTA MOBILE=====================================================================*/
@media only screen and (max-width: 768px)
{
/*==============================================HEADER==============================================================================*/
.logo{
  background-color: white;
  width: 70px;
  height: 35px;
  margin-left: 17px;
  margin-top: 18px;
  border-radius: 50px;
}
.separador{
  position: absolute;
  width: auto;
  height: 0px;
  left: 15px;
  right: 15px;
  margin-top: 10px;
  border:  solid #FA0303;
  
}
.carritoFondo{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 27px;
  height: 25px;
  right: 25px;
  top: 18px;
  background-color: white;
  border-radius: 50px;
}
.carrito{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  font-size: 15px;
  top: 5px;
  right: 7px;
}

/*==============================================NEGOCIO IMAGENES====================================================================*/
.negocio{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.local{
  width: 92px;
  height: 245px;
  margin-left: 1px;
  margin-right: 1px;
}

/*==============================================PRODUCTOS===========================================================================*/
.productos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin-top: 50px;
  width: 168px;
  height: 196px;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  
 }
 
 .card:hover {
  border: #006fff 0.2em solid;
 }
.img{ 
  margin-top: 5px;
  margin-left: 5px;
  width: 158px;
  height: 156px;
  border-radius: 0.4em;
}
.img:hover{
  margin-top: 0px;
  margin-left: 0px;
  width: 168px;
  height: 166px;
}
.titulo{
  display: flex;
  justify-content: center;
  font-family: "Londrina Solid";
}
/*===============================================LOGIN===============================================================================*/
.login{
  display: flex;
  justify-content: center;
}
.loginBox{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  width: 320px;
  height: 380px;
}
.boton{
  width: 80px;
  height: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

/*=========================VISTA DESKTOP===================================================================*/
@media only screen and (min-width:
1024px) {
  body{
<<<<<<< HEAD
    background-color: royalblue;
=======
    background-color: blue;
>>>>>>> 2fe67d074896f8fc98ae272b128222c61a985f80
  }
/*==============================================HEADER==============================================================================*/
  .logo{
    background-color: white;
    width: 312px;
    height:94px;
    margin-left: 17px;
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 50px;
  }
  .separador{
    position: absolute;
    width: auto;
    height: 0px;
    left: 15px;
    right: 15px;
    top: 79px;
    border:  solid #FA0303;
    
  }
  .carritoFondo{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 69px;
    height: 64px;
    right: 22px;
    top: 8px;
    background-color: white;
    border-radius: 50px;
  }
  .carrito{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    font-size: 30px;
    top: 18px;
    right: 20px;
  }

  /*==============================================NEGOCIO IMAGENES====================================================================*/
  .negocio{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .local{
    height: 454px;
    width: 475px;
    margin-left: 1px;
    margin-right: 1px;
  }

  /*==============================================PRODUCTOS===========================================================================*/
  .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 50px;
    width: 168px;
    height: 166px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    
  }
  .card:hover {
    border: #006fff 0.2em solid;
  }
  .img{ 
    margin-top: 5px;
    margin-left: 5px;
    width: 158px;
    height: 156px;
    border-radius: 0.4em;
  }
  .img:hover{
    margin-top: 0px;
    margin-left: 0px;
    width: 300px;
    height: 320px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    font-family: "Londrina Solid";
  }
  /*===============================================LOGIN===============================================================================*/
  .login{
    display: flex;
    justify-content: center;
  }
  .loginBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    width: 320px;
    height: 380px;
  }
  .boton{
    width: 80px;
    height: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

















































