*{
  margin: 0;
  padding: 0;
}
body{
background-color: black;
}

/*========================VISTA MOBILE=====================================================================*/
@media only screen and (max-width: 767px)
{
/*==============================================HEADER==============================================================================*/
.logo{
  width: 30%;
  margin-left: 17px;
  margin-top: 18px;
  border-radius: 50px;
}
.separador{
  position: absolute;
  width: auto;
  height: 0px;
  left: 15px;
  right: 15px;
  margin-top: 10px;
  border:  solid #FA0303;
  
}
.usuarioFondo{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 27px;
  height: 25px;
  right: 25px;
  top: 18px;
  background-color: white;
  border-radius: 50px;
}
.fas{
  font-size: 20px; 
  margin-right: 2px;
  margin-top: 2px;
}

/*==============================================NEGOCIO IMAGENES====================================================================*/
.negocio{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.local{
  width: auto;
  height: 145px;
  margin-left: 1px;
  margin-right: 1px;
  padding-right: 2px;
  overflow: hidden;
}

/*==============================================PRODUCTOS===========================================================================*/
.productos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin-top: 50px;
  width: 168px;
  height: 196px;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
  
 }
 
 .card:hover {
  border: #006fff 0.2em solid;
 }
.img{ 
  margin-top: 5px;
  margin-left: 5px;
  width: 158px;
  height: 156px;
  border-radius: 0.4em;
}
.img:hover{
  margin-top: 0px;
  margin-left: 0px;
  width: 168px;
  height: 166px;
}
.titulo{
  display: flex;
  justify-content: center;
  font-family: "Londrina Solid";
}

/*===============================================MERCADERIA==========================================================================*/
#impresionFotografia{
    display: none;    
  }
/*===============================================LOGIN===============================================================================*/
.login{
  display: flex;
  justify-content: center;
}
.loginBox{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  width: 320px;
  height: 380px;
}
.boton{
  width: 80px;
  height: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

/*=======================VISTA TABLET=======================================================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  /*==============================================HEADER==============================================================================*/
  .logo{
    margin-left: 17px;
    margin-top: 18px;
    border-radius: 50px;
  }
  .separador{
    position: absolute;
    width: auto;
    height: 0px;
    left: 15px;
    right: 15px;
    margin-top: 10px;
    border:  solid #FA0303;
    
  }
  .usuarioFondo{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 68px;
    height: 65px;
    right: 25px;
    top: 18px;
    background-color: white;
    border-radius: 50px;
  }
  .fas{
    font-size: 40px; 
    margin-right: 7px;
    margin-top: 9px;
  }
  
  /*==============================================NEGOCIO IMAGENES====================================================================*/
  .negocio{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .local{
    width: auto;
    height: 245px;
    margin-left: 1px;
    margin-right: 1px;
    padding-right: 2px;
    overflow: hidden;
  }
  
  /*==============================================PRODUCTOS===========================================================================*/
  .productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    margin-top: 50px;
    width: 168px;
    height: 196px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    
   }
   
   .card:hover {
    border: #006fff 0.2em solid;
   }
  .img{ 
    margin-top: 5px;
    margin-left: 5px;
    width: 158px;
    height: 156px;
    border-radius: 0.4em;
  }
  .img:hover{
    margin-top: 0px;
    margin-left: 0px;
    width: 168px;
    height: 166px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    font-family: "Londrina Solid";
  }

  /*===============================================MERCADERIA==========================================================================*/
    #impresionFotografia{
      display: none;    
    }
  /*===============================================LOGIN===============================================================================*/
  .login{
    display: flex;
    justify-content: center;
  }
  .loginBox{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    width: 320px;
    height: 380px;
  }
  .boton{
    width: 80px;
    height: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

/*=========================VISTA DESKTOP===================================================================*/
@media only screen and (min-width:1024px) 
{
/*==============================================HEADER==============================================================================*/
  .fas{
    font-size: 40px; 
    margin-right: 10px;
    margin-top: 10px;
  }
  .logo{
    margin-left: 17px;
    margin-top: 8px;
    margin-bottom: 30px;
    border-radius: 50px;
  }
  .separador{
    position: absolute;
    width: auto;
    height: 0px;
    left: 15px;
    right: 15px;
    top: 95px;
    border:  solid #FA0303;
    
  }
  .usuarioFondo{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 69px;
    height: 64px;
    right: 22px;
    top: 8px;
    background-color: white;
    border-radius: 50px;
  }
  

  /*==============================================NEGOCIO IMAGENES====================================================================*/
  .negocio{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .local{
    height: 504px;
    width: auto;
    overflow: hidden;
  }

  /*==============================================PRODUCTOS===========================================================================*/
  .productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    width: 268px;
    height: 296px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
  }
  .card:hover {
    border: #006fff 0.2em solid;
  }
  .img{ 
    margin-top: 5px;
    margin-left: 5px;
    width: 258px;
    height: 256px;
    border-radius: 0.4em;
  }
  .img:hover{
    margin-top: 0px;
    margin-left: 0px;
    width: 268px;
    height: 266px;
  }
  .botonImpresion{
    display: flex;
    justify-content: center;
    font-family: "Londrina Solid";
  }
  /*===============================================CARRO==========================================================================*/
 
  .carrito{
    display: flex;
    justify-content: center;
    
  }
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modalContenedor {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .cerrar {
    color: #aaa;
    float: top ;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    font-weight: bold;
    
  }

  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .formulario{
    display: none;
  }
  /*===============================================MERCADERIA==========================================================================*/
  #impresionFotografia{
    display: none;    
  }
  .promo{
    margin-top: 50px;
    width: 270px;
    height: 340px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    border: rgb(250, 250, 250) 0.2em solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .promoImg{
    width: 260px;
    height: 320px;
    border-radius: 20px;
  }
  #buttonImpresionFotografia{
    display: flex;
    justify-content: center;
  }
  .quieroPromo{
    border-radius: 20px;
  }
  /*===============================================LOGIN===============================================================================*/
  .login{
    display: flex;
    justify-content: center;
  }
  .loginBox{
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    background-color: white;
    width: 320px;
    height: 380px;
  }
  .boton{
    width: 80px;
    height: 20px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

















































