*{
  margin: 0;
  padding: 0;
}
body{
background-color: black;
}
/*==============================================HEADER==============================================================================*/
.logo{
  background-image: url("https://i.ibb.co/yFYnWvK/fotoshopp.jpg");
  width: 312px;
  height: 64px;
  margin-left: 17px;
  margin-top: 8px;
  border-radius: 50px;
}
.separador{
  position: absolute;
  width: auto;
  height: 0px;
  left: 17px;
  right: 17px;
  top: 79px;
  border:  solid #FA0303;
  
}
.carritoFondo{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 69px;
  height: 64px;
  right: 22px;
  top: 8px;
  background-color: white;
  border-radius: 50px;
}
.carrito{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  font-size: 30px;
  top: 18px;
  right: 20px;
}

/*==============================================NEGOCIO IMAGENES====================================================================*/
.negocio{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.local{
  height: 399px;
  width: 378px;
  margin-left: 1px;
  margin-right: 1px;
}

/*==============================================PRODUCTOS===========================================================================*/
.productos{
  display: flex;
  justify-content: space-around;
}
.img{
  margin-top: 20px;
  width: 294px;
  height: 312px;
}
.fondoTitulo{
  width: 294px;
  height: 52px;
  border-radius: 50px;
  background-color: white;
}
.titulo{
  display: flex;
  justify-content: center;
  font-family: "Londrina Solid";
}


/*===============================================LOGIN===============================================================================*/
.login{
  display: flex;
  justify-content: center;
}
.loginBox{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  width: 320px;
  height: 380px;
}
.boton{
  width: 80px;
  height: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}